{:deps {cloverage {:mvn/version "1.1.2"}
        org.clojure/core.specs.alpha {:mvn/version "0.2.44"}
        org.clojure/test.check {:mvn/version "0.10.0"}
        cider/cider-nrepl {:mvn/version "0.22.0"}
        org.clojure/tools.nrepl {:mvn/version "0.2.13"}}
 :aliases {:sample {:extra-paths ["sample"]}}}
